@import "./modules/fonts";
@import "./modules/reset";
@import "./modules/defaults";
@import "./modules/mixin";

//navigation bar color;
#fp-nav ul li a span {
  background-color: #aaa;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
h2 {
  text-align: center;
  color: #404040;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  padding-top: 20px;
  position: relative;
}

//home page
.home_page {
  background: $colorDark;
  color: $colorWhite;
  z-index: 0;
  position: relative;
  height: 100vh;

  //navigation bar
  .navbar {
    z-index: 999;
    .navbar-brand {
      display: inline-block;
      width: 35%;
      img {
        width: 100%;
        max-width: 150px;
      }
    }
    .navbar-toggler {
      float: right;
    }
  }
  #particles {
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100% !important;
      z-index: -1;
    }
  }
  .homepage_item_wrapper {
    height: calc(100vh - 75px);
    width: 100%;
    padding: 30px;
    position: relative;
    z-index: 1;
  }
  .hero_img {
    height: 150px;
    width: 150px;
    background-image: url("../images/backgrounds/hero_area_bg_sm.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    margin: 10px auto 0 auto;
  }
  .hero_img::after {
    content: "";
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    background: $colorPrimary;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
  }
  h1 {
    text-align: center;
    margin-top: 25px;
    position: relative;
  }
  h1::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    background: $colorPrimary;
    height: 6px;
    border-radius: 3px;
    width: 90px;
  }
  .professions {
    text-align: center;
    font-size: 20px;
  }
  .hero-btn-wrapper {
    text-align: center;
    .btn {
      background: $colorPrimary;
    }
  }
}

.about {
  .img_wrapper {
    img {
      max-width: 100%;
      max-height: 100%;
      // padding: 0 15%;
    }
  }
  p {
    text-align: justify;
    // padding: 0 20px;
    font-size: 400;
    span {
      font-size: 25px;
    }
  }
  .social {
    list-style-type: none;
    padding-bottom: 20px;
    li {
      display: inline-block;
      a {
        font-size: 35px;
        padding-right: 15px;
        color: rgba(0, 0, 0, 0.25);
        transition: all 0.3s linear;
      }
      a:hover {
        color: $colorPrimary;
      }
    }
  }
}

.skills {
  background-color: $colorPrimary;
  h2 {
    color: $colorWhite;
    margin-bottom: 20px;
  }
  .progress_bars {
    position: relative;
    z-index: 999;
    padding: 20px;
    margin: 0 5%;
    background: $colorWhite;
    width: 90%;
    border-radius: 5px;
  }
}

.background {
  h2 {
    color: $colorPrimary;
    font-size: 35px;
  }
  main {
    max-width: 90%;
    margin: 0 auto;
  }

  p {
    border-top: 2px solid;
    border-image: linear-gradient($colorPrimary, $colorPrimary);
    border-image-slice: 1;
    // border-width: 2px;
    margin: 0 5%;
    padding: 30px;
    position: relative;
    color: $colorDark;
    text-align: justify;
    //numbers
    &:before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f19d";
      position: absolute;
      border-radius: 50%;
      padding: 6px 0 0 3px;
      height: 35px;
      width: 35px;
      background-color: $colorPrimary;
      text-align: center;
      color: $colorWhite;
    }
  }

  //odd number borders
  p:nth-child(odd) {
    border-right: 2px solid;
    padding-left: 0;

    &:before {
      left: 100%;
      margin-left: -20px;
    }
  }
  //even number borders
  p:nth-child(even) {
    border-left: 2px solid;
    padding-right: 0;

    &:before {
      right: 100%;
      margin-right: -20px;
    }
  }
  //handle first and last
  p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .work {
    p {
      &:before {
        content: "\f0b1";
      }
    }
    //odd number borders
    p:nth-child(odd) {
      border-left: 2px solid;
      border-right: 0px solid;
      padding-right: 0;
      padding-left: 30px;
      &:before {
        left: 0%;
        margin-left: -20px;
      }
    }
    //even number borders
    p:nth-child(even) {
      border-right: 2px solid;
      border-left: 0px solid;
      padding-left: 0px;
      padding-right: 30px;
      &:before {
        right: 0%;
        margin-right: -20px;
      }
    }
  }
}

.projects {
  .row {
    margin: 50px;
  }
  .project-card {
    width: 100%;
    margin: 30px auto;
    padding-top: 100%;
    border-radius: 10px;
    background-color: $colorOffWhite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    .hover {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.75);
      color: $colorWhite;
      opacity: 0;
      transition: all 0.3s ease;
      .technology {
        position: absolute;
        padding: 7px 10px;
        border-radius: 0 0 10px 10px;
        background-color: $colorPrimary;
        top: -50%;
        left: 10px;
        transition: all 0.3s ease;
      }
      .name {
        position: absolute;
        left: 0;
        bottom: -50%;
        font-size: 30px;
        padding: 10px;
        display: inline-block;
        transition: all 0.3s ease;
        // text-align: justify;
        span {
          display: inline-block;
          font-size: 16px;
        }
      }
    }
    .hover:hover {
      opacity: 1;
      .technology {
        top: 0;
      }
      .name {
        bottom: 0;
      }
    }
  }
  .analog-clock {
    background-image: url("../images/projects/analog_clock.png");
  }
  .basicCalculator {
    background-image: url("../images/projects/basicCalculator.png");
  }
  .typeText {
    background-image: url("../images/projects/type_text.png");
  }
  .typerBoss {
    background-image: url("../images/projects/typerBoss.png");
  }
}

.contact {
  form {
    width: 100%;
    padding: 45px;
    label {
      margin-top: 10px;
    }
    button {
      background-color: $colorPrimary;
      color: $colorWhite;
    }
    button:hover {
      color: $colorWhite;
    }
    input:focus,
    textarea:focus {
      outline: none !important;
      border: 1px solid $colorPrimary;
      box-shadow: 0 0 5px $colorPrimary;
    }
  }
}

.footer {
  background: $colorDark;
  color: $colorWhite;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
