@import "./modules/fonts";
@import "./modules/reset";
@import "./modules/defaults";
@import "./modules/mixin";

//navigation bar color;
#fp-nav ul li a span {
  background-color: #aaa;
}

//section
// .section {
//  padding: 20px;
// }

//home page
.home_page {
  background: $colorDark;
  color: $colorWhite;
  z-index: 0;
  //navigation bar
  .navbar {
    z-index: 999;
    .navbar-brand {
      display: inline-block;
      width: 35%;
      img {
        width: 100%;
        max-width: 150px;
      }
    }
    .navbar-toggler {
      float: right;
    }
  }
  #homePage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: 0;
  }
  .homepage_item_wrapper {
   height: 100%;
   width: 100%;
   padding: 30px;
   position: relative;
   z-index: 1;
  }
  .hero_img {
   height: 150px;
   width: 150px;
   background-image: url('../images/backgrounds/hero_area_bg_sm.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 50%;
   position: relative;
   margin: 10px auto 0 auto;
  }
  .hero_img::after {
   content: '';
   height: calc(100% + 6px);
   width: calc(100% + 6px);
   background: $colorPrimary;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
   border-radius: 50%;
  }
  h1 {
   text-align: center;
   margin-top: 25px;
   position: relative;
  }
  h1::after {
    content:'';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    background: $colorPrimary;
    height: 6px;
    border-radius: 3px;
    width: 90px;
  }
  .professions {
    text-align: center;
    font-size: 20px;
  }
  .hero-btn-wrapper {
    text-align: center;
    .btn {
      background: $colorPrimary;
    }
  }
}


.about {
  h2 {
    text-align: center;
    color: #404040;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding-top: 20px;
  }
  .img_wrapper {
    img {
      max-width: 100%;
      max-height: 100%;
      padding: 0 15%;
    }
  }
  p {
    text-align: justify;
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
  }
}